.my-popover {

    background-color: rgba(169, 150, 150, 0.118);
    padding: 2rem;
    border-radius: 10px;    
}

#my-popover {
   
    background-color: rgba(195, 30, 126, 0.118);
    padding: 2rem;
    border-radius: 10px;
    border-color: blue ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.hipervinculo:hover {
    color: rgb(255, 0, 174);
    
}

.hipervinculo2:active {
color: rgb(3, 255, 32);
}

.hipervinculo3:visited {
    color: rgb(236, 75, 0);
}

.hipervinculo4:link  { 
    color: rgb(182, 10, 255);
}


.menu p:first-child{    
    color: rgb(1, 255, 48);
}
.menu p:nth-child(2){
    color: rgb(177, 47, 134);
}
.menu p:nth-child(3){
    color: rgb(255, 1, 1);

}

/* .menu p:hover{
    cursor:context-menu;
    /* context-menu flecha*/
    /* cursor: pointer; manito */

    /* background-color: aquamarine;
    color: rgb(248, 0, 0);
} */ 

.menu p:first-of-type {
    color: rgb(0, 0, 0);
    /* menu p hace que el primer elemento de la clase sea el primer hijo de su tipo */
}   
.menu span:first-of-type {
    color: rgb(244, 122, 0);
    
    /* .menu span:first-of-type hace que el primer elemento de la clase sea el primer hijo de su tipo */
}

/* nth-child(n): selecciona el elemento que coincide con el numero que indique */


table {
  width: 70%;
  border-collapse: collapse;
  margin: 20px auto;
}
th, td {
  border: 1px solid #f70c0c;
  padding: 8px 12px;
  text-align: center;
}
th {
  background-color: #ffcece;
}
caption {
  caption-side: top;
  font-weight: bold;
  font-size: 1.2em;
  margin: 10px;
}
tr:last-child {
background-color: rgb(201, 201, 255);}   

tr:first-child {
background-color:aqua
}

tr:nth-child(even) {
    /* odd es el numero impar */
    /* even es el numero par */
    background-color: rgb(237, 208, 231);
}

tr:nth-child(odd) {
  
    background-color: rgb(209, 188, 236);
}
form {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    
}