div{padding: 50px;
margin: auto;
}

.scroll{
  
    width: 200px;
    height: 200px;
    overflow: scroll;
    margin: 20px;
    /* barras de desplazamiento */
    
}

.visible {
    width: 200px;
    height: 200px;
    padding: 7px;
    overflow: visible; 
   
    /* visible valor por defecto si se sale del contenedor  se muestra fuera del contenedor */

    border-style: double;
}

.auto{
    width: 200px;
    height: 200px;
    overflow: auto; 
    /* si muestra normal si es mucho contenido y sino se muestra normal*/
    border: 1px solid black;
    box-shadow: inset 10px 10px 10px rgba(220, 20, 20, 0.5);
    background-color: rgb(182, 182, 234);
    border-radius: 200px;
}

.hidden{
    /* display: block; */
/* block hace que el elemento se muestre en una nueva línea en bloque*/
/* display: none;   */
/* none hace que el elemento no se muestre */
    width: 200px;
    height: 200px;
    overflow: hidden;   
    /* oculta el contenido que queda fuera del contenedor */
    border-radius: 20px;
    /* borde redondeado */
    border: 3px solid black;
    box-shadow: 10px 8px rgba(220, 20, 20, 0.5);
visibility: hidden;
}


.inline{
    display: inline-block   ;
    /* inline-block hace que el elemento se muestre en la misma línea que el anterior y mantiene el espacio entre ellos */
    width: 200px;
    height: 200px;
    overflow: auto;
}


button{
    width: 200px;
    height: 70px;   
  position: sticky;
  top: 30px;
  left: 30px;
  /* sticky hace que el elemento se muestre en la parte superior del contenedor fijo sin perderlo de la pantalla */
  /* relative hace que el elemento se muestre en la parte inferior del contenedor */
  /* absolute hace que el elemento se muestre en la parte superior y inferior del contenedor */
  /* fixed hace que el elemento se muestre en la parte superior y inferior del contenedor */
}

h1 {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: blue;
    color: white;
}

h2 { display: inline-block;
    position: absolute;
    top: 60px;
    left: 30px;
    background-color: green;
    color: white;
}

h3 { display: inline-block;
    position: absolute;
    top: 90px;
    left: 30px;
    background-color: red;
    color: white;
}

header {padding:  2rem;
    display: block;
    position: sticky;
    top: 0;
background-color: rgba(169, 150, 150, 0.118);
}

/* z-index; controla la posición de la capa en la pantalla y juega con lo tridimensional */