.transformar{
    opacity: 0.5;
    /* opacar */

    transform: scale(1);
    /* escalar */

    /* text-transform: capitalize;
    /* capitalizar */

    /* text-transform: uppercase; */
    /* mayusculas */

    text-transform: lowercase;
    /* minusculas */
    
    /* text-transform: none; */
    /* no cambiar */    

    /* writing-mode: sideways-rl;   */
    /* escritura lateral */

    /* writing-mode: vertical-rl; */
    /* escritura vertical */

    /* writing-mode: horizontal-tb; */
    /* escritura horizontal */
    
}
.parrafo{
  text-indent: 100px;
   /* sangria */

   /* word-spacing: 20px; */
   /* interpalabra */

   /* letter-spacing: 5px; */
   /* espacio entre letras / interletrado */

   text-align: justify;
   /* justificar */

   /* text-decoration: underline; */
   /* subrayar */
/* 
   text-shadow: 2px 2px 2px #000; */
   /* sombra */

   color: rgb(105, 53, 53);
   /* color */

   font-size: 20px;
   /* tamaño de fuente */

   font-family: Arial, Helvetica, sans-serif;
   /* fuente */

   /* line-height: 2rem; */
   /* interlineado */

   /* text-overflow: ellipsis; */
   /* corta el texto */

   /* word-break: break-all; */
   /* corta la palabra en el justificado */

   /* word-wrap: break-word; */
   /* baja la palabra en el justificado*/

   /* overflow: hidden; */
   /* oculta el texto */

   max-width: 75ch; 
   /* ancho maximo */
   /* change width es el ancho del texto */
   
}
/* rem: rem es la unidad de medida de la hoja de estilo */

.bg {
    background-image: url("https://media.gq.com.mx/photos/620e915c43f71a078a35533f/master/pass/playa.jpg");
    background-repeat: no-repeat;
    /* no repetir */
    background-size: cover;
    /* ocultar el fondo */
    background-position: center;
    /* centrar el fondo */
    height: 100vh;
    /* altura */
    width: 100vw;
    /* ancho */
    position: relative;
    /* posicionar */
}

.contenedor{
   background-color: aliceblue;
   /* color de fondo */
   border-radius: 10px;
   /* borde redondeado */
   padding: 3rem;
   /* padding */
   opacity: 0.8;
   /* opacar */
   position: absolute;
   /* posicionar */
   top: 50%;
   left: 50%;
   
   transform: translate3d(-50%, -50%, 0);
   /* trasladar */
}



