.body { margin: 0;
padding: 0;
}
.contenedor {
    border: 1px solid black;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr repeat(4, 1fr) 100px;
    margin: 0 4cm;
    padding: 1em;
    grid-template-areas:
    "nav nav nav nav"
    "main main main aside"
    "main main main aside"
    "article1 article2 article3 aside"
    
    "section1 section1 section1 section1"
    "footer footer footer footer";
    gap: 1em;
}

* {
    box-sizing: border-box;
    /* box-sizing: content-box;  sirve para que el padding no afecte a la anchura de la caja */
}

.nav {
    grid-area: nav;
    background-color: rgb(215, 184, 9);
}

.main {
  grid-area: main;
    background-color: rgb(255, 151, 151);
}

.aside {
  grid-area: aside;
    background-color: rgb(198, 19, 141);
}

.article1 {
    grid-area: article1;
    background-color: rgb(246, 10, 10);
}

.article2 {
    background-color: rgb(141, 148, 224);
    grid-area: article2;
}

.article3 {
   grid-area: article3;
    background-color: rgb(24, 234, 31);
}

.section1 {
   grid-area: section1;
    background-color: rgb(105, 15, 251);
}

.footer {
   grid-area: footer;
    background-color: rgb(9, 176, 243);    
}