.top-container{
    display: flex;
    /* flex es para q el contenido se pueda centrar y adaptar a la ventana */
background-color: rgb(193, 110, 210);
flex-wrap: wrap;
/* wrap: permite que el contenido se pueda centrar y adaptar a la ventana */

 /* flex-direction: column; lo hace en columna puede ser de arriba a abajo o viceversa*/
 /* flex-direction: row; lo hace en fila puede ser de izquierda a derecha o viceversa*/
  
/* justify-content: space-around; */
/* espacio entre los elementos */

/* column-gap: 1em; */
/* espacio entre columnas */

/* row-gap: 1em; */
/* espacio entre filas */

gap: 1em;
/* espacio entre filas y columnas */

justify-content: center;
padding: 1em;
}



.tarjeta {
      background-color: #f5cbcb;
      border-radius: 12px;
      max-width: 400px;
flex-basis: 100px;
/* basis: indica el tamaño de la tarjeta */
flex-grow: 1;


    }

    .tarjeta img {
      width: 100%;
      height: auto;
    }
    .contenido {
      padding: 20px;
    }
    h1 {
      font-size: 24px;
      margin: 0 0 10px;
    }
    h3 {
      font-size: 12px;
      color: #464343;
      margin: 15px 0 0;
    }

    .content{
align-items: center;
justify-content: center;
flex-direction: column;
flex-wrap: wrap;
gap: 1em;
display: flex;
padding: 1em;
    }

    form {
   display: flex;
   margin-top: 2em;
   column-gap: 2em;
   flex-wrap: wrap;
    }
    .form1 {
  min-width: 300px;
  flex-basis: 65%;
  padding: 16px;
  background-color: aquamarine;
    }

    .form2 {
  min-width: 300px;
  flex-basis: 65%;
  padding: 16px;
  background-color: aquamarine;
    }