.grid {
 display: grid;
 /* justify-items: start; */
 /* eje que se mueve pro la fila */
 /* align-items: center; */
 /* eje que se mueve pro la columna */
 grid-template-columns: repeat(6, 1fr);
 /* columns = columnas */
 /* fr fraccion de columnas */
 grid-template-rows: repeat(4, 1fr);
 /* REPEAT(cantidad de filas, altura de cada fila) */
 /* rows = filas */
 align-items: center;
justify-items:center ;
row-gap: 2rem;
width: 1200px;
}

article {
    background-color: rgb(255, 151, 151);
   grid-column: 4/6;
   grid-row: 2/3;
   padding: 1rem;
}

.galery { display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.img-left {
align-self:flex-start ;
grid-row: 1/3;
grid-column: 1/2;

}

.img-right {
align-self: center;
grid-column: 1 / 3;
grid-row: 1 / 2;
z-index: -1;
}
